.singleProjectInfo {
  display: flex;
  justify-content: center;

  align-items: center;
}

.singleProjectContainer {
  padding: 1rem 0;
}

.image {
  border-radius: 4px;
}

.text {
  font-size: 0.9rem;
}

.text > p {
  margin-right: 1rem;
}

@media (max-width: 500px) {
  .singleProjectInfo {
    flex-direction: column;

    text-align: left;
  }

  .text {
    margin: 1rem 0;
  }
}
