:root {
  --main-font-color: #e2e2e2;
  --background-color: #161616;

  --primary-btn-dark: #1a1a1a;
  --primary-btn-light: #e2e2e2;
  --primary-btn-text-dark: #1a1a1a;
  --primary-btn-text-light: #e2e2e2;

  --section-secondary-background: #e2e2e2;
  --section-secondary-font-color: #161616;

  --accent-color: #4e4e4e;
  --navbar-height: 4rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 1.1em;
  min-height: 100vh;

  color: var(--main-font-color);
  background-color: var(--background-color);

  font-weight: 200;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--main-color);
  font-weight: bold;
  text-decoration: none;
}

.gradientText {
  background: linear-gradient(
    to left,
    var(--accent-color) 80%,
    var(--main-font-color) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
