.heroText h1 {
  font-size: 2.3rem;
}

.heroText h2 {
  font-weight: 200;
}

.name {
  font-weight: 500;
}

@media (min-width: 768px) {
  .heroText h1 {
    font-size: 4rem;
  }

  .heroText h2 {
    font-size: 2.7rem;
  }
}
